.SobreNosotros{
    
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    line-height: 30px;
    gap: 10px;
    background-color: $fondo-textos;
}
.SobreNosotros p{
    margin-bottom: 20px;
}