@import 'variables';
@import 'reset';
@import 'footer';
@import 'index';
@import 'contacto';
@import 'ranking';
@import 'foros';
@import 'detalle_serie';
@import 'tarjetas';
@import 'medias';

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin crearMargen{
    margin-left: 50px;
    margin-right: 50px;
}
nav img{
    height: 50px;
}


